html {overflow-y: scroll;}  
body {-webkit-text-size-adjust: none; margin: 0px;font-family: "\5FAE\8F6F\96C5\9ED1","微软雅黑","宋体";margin:0 auto;  background-color:#eee;font-size:13px;background-image:url('../images/bg.gif')}
/*topbar*/
#topbar{z-index:10;position:fixed;top:0px;left:0px;height:42px;width:100%;background-color:#222;-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);-webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);box-shadow: 0 0 9px rgba(0, 0, 0, 0.8);}
#infobar{font-size:9pt;color:#ccc;text-align:center;margin:auto;padding-top:2px;width:850px}
#share {z-index:20;position:absolute;top:8px;right:5px;width:120px}
/*content*/
#main{position:static;text-align:left;width:100%;margin:0 auto;}
#header-box {position: relative;width:930px;margin:auto;padding:5px; border:1px solid #777; background-color:#fff;border-radius:6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
#header-box:before, #header-box:after {position: absolute;width: 40%;height: 10px;content: ' ';left: 13px;bottom: 13px;background: transparent;-webkit-transform: skew(-4deg) rotate(-4deg);-moz-transform: skew(-4deg) rotate(-4deg);-ms-transform: skew(-4deg) rotate(-4deg);-o-transform: skew(-4deg) rotate(-4deg);transform: skew(-4deg) rotate(-4deg);-webkit-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);z-index: -1;}
#header-box:after {left: auto;right: 13px;-webkit-transform: skew(4deg) rotate(4deg);-moz-transform: skew(4deg) rotate(4deg);-ms-transform: skew(4deg) rotate(4deg);-o-transform: skew(4deg) rotate(4deg);transform: skew(4deg) rotate(4deg);}
#header {margin:auto;display:none;z-index:888;background-color:#fff;padding:30px;padding-top:50px;padding-bottom:20px;}
#mapbox {display:none;}
#map {border:1px dashed #999;height:248px;}
#adSpace {position:absolute;top:0px;right:0px}
.adSpace {width:300px;height:250px;background-color:#eee;-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
#popular,#content {width:980px;margin:0 auto;}#content {min-height:520px;}
#loading {padding:30px;display:none;text-align:center}
#more {margin:auto;padding:0px;padding-top:15px;padding-bottom:15px;width:850px;text-align:center;cursor:pointer;display:block; font-size:12pt;font-weight:bold;color:#222;text-shadow: 0px 1px #ccc, 0px 0px #000;}
#featured {margin:auto;display:none;width:700px;padding:10px;background-color:#eea;border:1px dashed #888;border-top:0px}
/*profile*/
#profile_img {position:relative;float:left;width:82px;}
.profile_img {border:1px solid #aaa; padding:5px; border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#user_info {float:right;width:760px;}
.title { font-size:14pt; font-weight:bold;color:#222;padding-bottom:5px;padding-bottom:13px}
.bio { font-size:10pt; color:#222;padding-top:13px;}
.box {cursor:pointer;float:left;padding-right:30px;text-align:center;width:80px}
.box-num {padding:2px;border:1px solid #bbb;border-bottom:0px;background-color:#f8f8f8;color:#222;font-size:14pt;text-shadow: 0px 1px #ddd, 0px 0px #000;border-top-left-radius:3px;-moz-border-radius-topleft: 3px;-webkit-top-left-border-radius: 3px;border-top-right-radius:3px;-moz-border-radius-topright: 3px;-webkit-top-right-border-radius: 3px;}
.box-num:hover {background-color:#ddd;}
.box-title {padding:2px;border:1px solid #444;border-top:0px;background-color:#444;color:#f8f8f8;font-size:13px;text-shadow: 0px 0px #000, 0px 0px #000;border-bottom-left-radius:3px;-moz-border-radius-bottomleft: 3px;-webkit-bottom-left-border-radius: 3px;border-bottom-right-radius:3px;-moz-border-radius-bottomright: 3px;-webkit-bottom-right-border-radius: 3px;}
.box-control {float:right;width:430px}
.box-controls {border:1px solid #bbb;background-color:#f8f8f8;padding:6px;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.input {font-size:18px}
.view-title {float:left;padding:4px;color:#222;font-size:12pt;font-weight:bold;}
.views { cursor:pointer;border:1px solid #000;background-color:#444; width:30px; height:30px;float:right;font-size:10pt;font-weight:bold;color:#fff;border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.views:hover {background-color:#222}
/*photo-list*/
#helpbox { cursor: pointer; position:absolute; display: none; padding: 10px; top:50px; right:10px; background-color: #000; -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; font-family:"\5FAE\8F6F\96C5\9ED1", Courier, Verdana, Arial; font-size: 13px; color: #fff; text-shadow: 0px -1px #000, 0px 0px #000; text-align: left; filter: alpha(opacity=50); -moz-opacity:0.50; opacity: 0.50; -moz-box-shadow: 0 0 3px #888;-webkit-box-shadow: 0 0 3px #888;box-shadow: 0 0 3px #888;}
.photobox {margin:auto;background-color:#fff;border:1px solid #777; padding:8px;width:406px;text-align:center;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
.photobox:hover {border:1px solid #fff;}
.photo_title { font-size:10pt; font-weight:bold; padding:5px;border-bottom:1px dotted #888;}
.photo {width:406px;height:406px}
.post{cursor:pointer;background-color:#aaa;color:#111;text-shadow: 0px 1px #ddd, 0px 0px #000;padding:4px;border:1px solid #444; font-size:13px; font-weight:bold; text-decoration:none;border-radius:2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.post:hover {background-color:#999;}
.liked {cursor:pointer;padding:2px;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.liker {cursor:pointer;padding:2px;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.liker:hover {background-color:#d00;}
.info {cursor:pointer;padding:7px; font-size:13px; font-weight:bold;color:#666;}
.info:hover {color:#000}
.info2 {padding:7px; font-size:13px; font-weight:bold;color:#888;}
.infobox {display:none;float:left;padding-top:10px;text-align:left}
.commentbox {padding:20px;width:310px;background-color:#fff;border:1px solid #777;border-left:1px solid #fff;border-top-right-radius:4px;-moz-border-radius-topright: 4px;-webkit-border-top-right-radius: 4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright: 4px;-webkit-border-bottom-right-radius: 4px;-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
.comment {float:left;padding-left:10px;font-size:10pt;width:230px;text-align:left}
/*photo-grid*/
.placeTitle { font-size:14pt; font-weight:bold;color:#222;padding-bottom:20px;text-shadow: 0px 1px #eee, 0px 0px #eee;}
.placeTitleLink {text-decoration:none;color:#222;}
#grid-cell {position:relative;display:inline-block;padding:10px}
.photo-grid {background-color:#fff;border:1px solid #888;padding:4px;text-align:center;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
.photo-grid:hover {border:1px solid #fff;}
.photo_user {z-index:90;border:1px solid #111;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-moz-box-shadow: 0 0 1px #000;-webkit-box-shadow: 0 0 1px #000;box-shadow: 0 0 1px #000;}
.photo_user:hover {-moz-box-shadow: 0 0 3px #000;-webkit-box-shadow: 0 0 3px #000;box-shadow: 0 0 3px #000;}
.moreInfo {display:none;cursor:pointer;position:absolute;left:13px;width:190px;background-color:#fff;padding:7px;font-weight:bold; font-size:13px;color:#000; filter: alpha(opacity=80); -moz-opacity:0.80; opacity: 0.80;}
/*elements*/
.linkButton {cursor:pointer;text-decoration:none;color:#ccc;padding:4px; background-color:#000;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.linkButton:hover {background-color:#555;}
.linkButtonS {text-decoration:none;color:#fff;padding:4px; background-color:#c00;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.button { display: inline; font-size:10pt; padding: 7px; border: 1px solid #000; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background-color: #444; text-shadow: 0px -1px #000, 0px 0px #000; color: #eee; font-weight: bold; cursor: pointer;}
.button:hover {background-color: #222;}
.text2 {text-align:center;padding:20px 0; font-size:12pt; font-weight:bold;color:#222;text-shadow: 0px 1px #f8f8f8, 0px 0px #000}
.text3 {text-align:right;font-size:13px;font-weight:bold;cursor:pointer;padding:2px}
.link {cursor:pointer;text-decoration:none; font-size:10pt; color:#ccc}
/*custom*/
.search {font-size:20px;width:360px}
.link2 {text-decoration:none;color:#000;}
.link2:hover {color:#444;}
.user-list {color:#222;padding:10px;border-radius:6px;-moz-border-radius: 6px;-webkit-border-radius: 6px; font-size:10pt;font-weight:bold;color:#222;}
.user-list:hover {background-color:#fff;color:#222;border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;-moz-box-shadow: 0 0 1px #000;-webkit-box-shadow: 0 0 1px #000;box-shadow: 0 0 1px #000;}
.moreInfo2 {cursor:pointer;position:absolute;bottom:10px;left:8px;width:140px;background-color:#fff;padding:7px;font-weight:bold; font-size:13px;color:#000; filter: alpha(opacity=80); -moz-opacity:0.80; opacity: 0.80;}
#more-users {margin:auto;padding:0px;padding-top:15px;padding-bottom:15px;width:850px;text-align:center;cursor:pointer;display:none; font-size:12pt;font-weight:bold;color:#222;text-shadow: 0px 1px #ccc, 0px 0px #000;}
#follow { cursor:pointer;border:1px solid rgba(0, 0, 0, 0.4); width:110px; height:30px;float:left;font-size:10pt;font-weight:bold;color:#fff;border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; text-shadow: 0px -1px #000, 0px 0px #000;}
#public { cursor:pointer;border:1px solid rgba(0, 0, 0, 0.4); width:135px; height:30px;float:left;font-size:10pt;font-weight:bold;color:#fff;border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; text-shadow: 0px -1px #000, 0px 0px #000;}
#buttonLink { cursor:pointer;border:1px solid rgba(0, 0, 0, 0.4); height:30px;float:left;font-family:"\5FAE\8F6F\96C5\9ED1";font-size:10pt;color:#fff;background-color:#282;border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; text-shadow: 0px -1px #000, 0px 0px #000;}
#buttonMap {display:none;position:absolute;bottom: 10px;left:340px ;width:120px;cursor:pointer;background-color:#48c;background: -webkit-gradient(linear, 0 0, 0 bottom, from(#48c), to(#37b));background: -moz-linear-gradient(#48c, #37b);color: #fff;cursor: pointer;text-align:center;font-size: 10pt;font-weight: bold;border:1px solid #333;padding:3px; margin: 0;opacity:0.9;filter:alpha(opacity=90);overflow: hidden;-moz-border-radius: 5px;-webkit-border-radius: 5px; border-radius: 5px;}
#buttonList {cursor: pointer; position:absolute; right:10px; top:46px; display: inline; padding: 3px; border:1px solid #555; background-color: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 10pt; color: #fff; }
#crosshair {position:absolute;bottom: 110px;left:390px ;width:24px;}
#searchbox {color:#222;padding:15px; font-weight:bold; font-size:12pt; text-align:left }
/*light-box*/
#lightbox {display:none; z-index:50; position:absolute; top:0px; left:0px; width:100%; padding-top:25px; padding-bottom:40px; background-color:rgba(0, 0, 0, 0.7)}
.lb-prev, .lb-next {position:absolute;top:250px;padding:20px;font-size:14pt;cursor:pointer;-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border:1px solid #eee}
.lb-prev:hover, .lb-next:hover {border:1px solid #666}
.lb-prev {left:40px;}
.lb-next {right:40px;}
.lb-close {position:absolute;top:15px;right:40px;font-size:10pt;font-weight:bold;cursor:pointer;}
.lb-links {position:absolute;text-align:right;top:90px;right:20px;font-size:13px}
.lb-share {position:absolute;text-align:left;top:520px;right:40px;font-size:13px}
#lb-content {display:none; z-index:99; margin:auto;width:920px;position:relative; padding-top:10px;text-align:center; background-color:#eee; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
.lb-user {border:1px solid #444}
.lb-user:hover{-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);}
.lb-photobox {margin:auto; text-align:left; width:613px;font-size:9pt;padding:13px;background-color:#fff;-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
.lb-liker, .lb-liked {cursor:pointer;padding:8px;border-radius:3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.lb-liker:hover {background-color:#d00;}
.lb-liked:hover {background-color:#000;}
.lb-infobox {margin:auto; text-align:left; width:636px;padding-top:15px;padding-bottom:100px;font-size:9pt;}
.lb-feedback {float:left;width:425px;}
.lb-likes {padding-bottom:20px;padding-top:20px}
.lb-comment{border-bottom:1px solid #ccc;border-top:1px solid #eee;background-color:#ddd}
.lb-commentUser{float:left;padding:5px}
.lb-commentText{float:left;width:370px;text-align:left;font-size:13px;padding:5px;}
.lb-commentDate{font-size:9px;color:#888}
.lb-details{float:right;width:200px;}
#socialButtons {text-align:center;padding:5px;height:20px;-moz-border-radius: 4px;-webkit-border-radius:4px;border-radius:4px;background-color:#555;color:#eee}
#lb-mapbox {display:none;padding:5px;background-color:#fff;text-align:center;-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);}
#lb-region {padding:5px}
#lb-map {display:none;height:150px;border:1px solid #aaa}
iframe {vertical-align:middle}
#lb-popup {display:none; z-index:99; position:absolute; padding:20px; top:80px; left:0px; text-align:center; font-size:14px; background-color:#fff; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);border-radius:4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
/*Ads*/
.ads {position: relative;width:728px;height:90px;margin:auto;padding:0px; background: transparent;-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}
.ads:before, .ads:after {position: absolute;width: 40%;height: 10px;content: ' ';left: 13px;bottom: 13px;background: transparent;-webkit-transform: skew(-3deg) rotate(-3deg);-moz-transform: skew(-3deg) rotate(-3deg);-ms-transform: skew(-3deg) rotate(-3deg);-o-transform: skew(-3deg) rotate(-3deg);transform: skew(-3deg) rotate(-3deg);-webkit-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 13px rgba(0, 0, 0, 0.5);z-index: -1;}
.ads:after {left: auto;right: 13px;-webkit-transform: skew(3deg) rotate(3deg);-moz-transform: skew(3deg) rotate(3deg);-ms-transform: skew(3deg) rotate(3deg);-o-transform: skew(3deg) rotate(3deg);transform: skew(3deg) rotate(3deg);}
/*search-form via twitter*/
#search-form{margin:3px 0 0 0;position:relative}
#search-form #search-query{border:1px solid black;-moz-border-radius:4px;-webkit-border-radius:4px;font:13px Arial,sans-serif;width:80px;padding:3px 25px 3px 3px;color:#222;background:#666;}
#search-form span.glass{display:block;position:absolute;cursor:pointer;display:block;right:0;padding:7px 7px 5px 7px;}
#search-form #search-query:focus,#search-form #search-query.focused{outline:none;background:#eee;color:#333;text-shadow:0 1px 0 #fff;border:1px solid #eee;}

#topnav {
	padding:10px 0px 13px;
	font-size:11px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {

	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("../images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 13px 6px;
}
#topnav a.signin:hover {

	*background:transparent url("../images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 13px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("../images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#efefef!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("../images/toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#efefef;
	position:absolute;
	width:110px;
	z-index:100;
	border:solid 1px #ddd;
	text-align:left;
	padding:13px;
	top: 24.5px; 
	right: 0px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ccc;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color:#666;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.popreg .popoutlogin{width:120px;}.popoutlogin{margin:0 0 0;}
.popoutlogin a{float:left;width:100px;height:20px;line-height:1.5;margin:4px 8px 0 0}
.popoutlogin a:hover{text-decoration:none;}
.social a{float:left;+display:inline;height:18px;line-height:17px;padding:0 0 0 20px;background-image:url(../images/sites.gif);background-repeat:no-repeat;font-family:"\5FAE\8F6F\96C5\9ED1";text-decoration:none;font-size:13px;}
.social a:hover{text-decoration:none;}
a.sina:link,a.sina:visited{background-position:0 -26px;}
a.qweibo:link,a.qweibo:visited{background-position:0 -76px;}
a.douban:link,a.douban:visited{background-position:0 -101px;}
a.renren:link,a.renren:visited{background-position:0 0;}
a.oicq:link,a.oicq:visited{background-position:0 -51px;}
.clr{zoom:1}.clr:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
#weibo{background-position:0 0}
#qq{background-position:0 -42px}
#tq{background-position:0 -87px}
#douban{background-position:0 -132px}
ul {
    list-style-type: disc;
}
ul, ol {
    margin: 0 1em 1em;
}

ul, menu, dir {
    -moz-padding-start: 40px;
    display: block;
    list-style-type: disc;
    margin: 1em 0;
}
a {
    color: #222;
    text-decoration: none;
}
.none{display:none}
.huge{width:350px;}
.large{width: 280px;}
.medium {	width: 150px;}
.small {	width: 65px;}
.mini {	width: 35px;}
.tLeft{text-align:left;}
.tRight{text-align:right;}
.tCenter{text-align:center;}
.tTop{vertical-align:top;}
.tBottom{vertical-align:bottom;}
.tMiddle{vertical-align:middle;}
.hMargin{margin-left:3px;margin-right:3px;}
.vMargin{margin-top:3px;margin-bottom:3px}
input.text,input.file{
	padding: 4px 1px;
	border: 1px solid #ccc;
	color: #555; 
	background-color: #fff;line-height:22px;height:22px;
}
.column1-unit {width:540px; margin-top:30px;margin-bottom:10px !important /*Non-IE6*/; margin-bottom:5px /*IE6*/;}
.column1-unit:after, .column2-unit-left:after, .column2-unit-right:after, .column3-unit-left:after, .column3-unit-middle:after, 
.uploadform {width:618px; margin:0 auto; padding:10px ; border:1px solid #777777; background-color:#eee;box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);}

.uploadform label.left {float:left; width:80px; margin:0 0 0 10px; padding:2px; font-size:13px;}
.uploadform select.combo {width:175px; padding:2px; border:solid 1px rgb(200,200,200);}
.uploadform input.field {width:275px; padding:2px; border:solid 1px rgb(200,200,200); padding: 4px 1px;background-color: #fff;line-height:22px;height:22px;}
.uploadform textarea {width:275px; padding:2px; border:solid 1px rgb(200,200,200);padding: 4px 1px;background-color: #fff;}
.uploadform input.button {float:right; width:9.0em; margin-right:20px; padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:"\5FAE\8F6F\96C5\9ED1",verdana,arial,sans-serif; color:rgb(150,150,150); font-size:100%;}
.uploadform input.button:hover {cursor: pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}
a,span,label{font-size:14px;}
#photos-map {
    margin-top: 15px;
}
#tabs {
    border-bottom: 1px solid #BBBBBB;
    float: left;
    list-style: none outside none;
    margin: 0 0 5px;
    padding: 0 0 0 5px;
    position: relative;
    width: 440px;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#tabs li {
    background-image: url("/img/tab-l.ltr.gif");
    background-position: left 0;
    background-repeat: no-repeat;
    float: left;
    font-family: "Miscrosoft YaHei";
    font-size: 100%;
    padding-left: 7px;
}

li {
    display: list-item;
}
#tab_checkbox_area {
    float: left;
    margin-bottom: 10px;
    width: 440px;
}#tab_checkbox_area label {
    color: #8A8A8A;
    font-size: 90%;
    vertical-align: middle;
}#preview div {
    display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 112px;
}
#photo-comments {
float: left;
    padding: 15px 15px 15px 0;
    width: 680px;
    
background-color: #F9F9F9;
    border: 1px solid white;
    box-shadow: 2px 2px 0 #E5E5E5;
}
.fLeft {float:left}
.clear{clear:both}
#sidebar{
float:right;
width:260px;padding: 20px 0;margin-left:20px;
background-image: -moz-linear-gradient(left center , #F4F4F4, #FAFAFA);
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-shadow: -1px 0 0 #E9E9E9, 2px 0 0 #E3E3E3;
    height: 100%;
background-color: #F5F5F5;
}
#main-photo {
    clear: both;
    display: block;
    text-align: center;
    width: 630px;
}
#author {
    font-size: 90%;
    line-height: 140%;
    margin: 5px 0;
}
form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
}
form label, form input, form textarea {
    clear: both;
    float: left;
}label {
    cursor: default;
}
form input{border:solid 1px #ccc}
form input.med[type="text"], form input.med[type="email"], form input.med[type="password"] {
    font-family: "微软雅黑",Arial;
    padding: 10px;width:430px;font-size:16px;

}
#signin_msg{color:red;}
.bigtbh{
    background-color: #E95C41;
    background-image: -moz-linear-gradient(center top , #E95C41, #D93E2A);
    border: 1px solid #5E5E5E;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 60px;
    width: 210px; color:#fff; border: 1px solid #5E5E5E;    border-radius: 7px 7px 7px 7px;cursor:pointer
}
.middlebtn{
    background-color: #E95C41;
    background-image: -moz-linear-gradient(center top , #E95C41, #D93E2A);
    border: 1px solid #5E5E5E;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    width: 110px; color:#fff; border: 1px solid #5E5E5E;    border-radius: 7px 7px 7px 7px;cursor:pointer
}
.smbtn{
    background-color: #E95C41;
    background-image: -moz-linear-gradient(center top , #E95C41, #D93E2A);
    border: 1px solid #5E5E5E;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 10px;
    width: 80px; color:#fff; border: 1px solid #5E5E5E;    border-radius: 7px 7px 7px 7px;cursor:pointer
}
.login-field {
    position: relative;
}
.above-below15 {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}.line,hr{*zoom:1}.line:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0!important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "}
#footer{height:50px;width:100%}
#footer .container {
    font-size: 14px;
    margin: 0 auto;
    position: relative;
    width: 980px;
    text-align:center;
    padding-top:15px;
}